name: ESLint (Frontend)

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Node.js
      uses: actions/setup-node@1d99faba72bd8357cae0b2a9fef01569d6d29697 # v4.2.0
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    - name: Install dependencies
      run: npm install
      working-directory: frontend

    - name: Run ESLint
      run: npm run lint
      working-directory: frontend
